<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
    <sitecore role:require="Standalone or ContentDelivery or ContentManagement" search:require="lucene">
        <contentSearch>
            <indexConfigurations>
                <customIndexConfiguration ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration">
                  <fieldMap type="Sitecore.ContentSearch.LuceneProvider.LuceneFieldMap, Sitecore.ContentSearch.LuceneProvider">
                    <fieldNames hint="raw:AddFieldByFieldName">
                      <field fieldName="title" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" returnType="string" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                        <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
                      </field>
                      <field fieldName="description" storageType="YES" indexType="UNTOKENIZED" vectorType="NO" boost="1f" returnType="string" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                        <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
                      </field>
                      <field fieldName="category" storageType="YES" indexType="UNTOKENIZED" vectorType="NO" boost="1f" returnType="string" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                        <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
                      </field>
                    </fieldNames>
                  </fieldMap>
                  <documentOptions type="Sitecore.ContentSearch.LuceneProvider.LuceneDocumentBuilderOptions, Sitecore.ContentSearch.LuceneProvider">
                    <IndexAllFields>false</IndexAllFields>
                    <exclude hint="list:AddExcludedTemplate">
                      <BucketFolderTemplateId>{F58313D3-7312-41A9-B811-4148A1EE525A}</BucketFolderTemplateId>
                    </exclude>
                    <include hint="list:AddIncludedTemplate">
                      <BucketFolderTemplateId>{2FB17DA2-C49E-4E70-A3F2-EF3265D10D1E}</BucketFolderTemplateId>
                    </include>
                    <include hint="list:AddIncludedField">
                      <!--Post title-->
                      <fieldId>{4BC6D4E9-0611-4B9A-ABEC-91B3146A30A2}</fieldId>
                      <!--Post description-->
                      <fieldId>{4164A52B-0E87-4B89-A1A3-CDC06B16A475}</fieldId>
                      <!--Post category-->
                      <fieldId>{2819A8D0-DDA3-498C-AACD-DB3EEBF61E9E}</fieldId>
                      <!--Post tags-->
                      <fieldId>{F2A5E955-3D46-41F4-98BF-7FC55617028D}</fieldId>
                      <!--Post item-->
                      <fieldId>{75A9D319-1000-4930-88EF-1B17BC6B2B0D}</fieldId>
                      <!--Post images-->
                      <fieldId>{05AF4B8F-BDEC-4698-9608-64AABAA01B34}</fieldId>
                    </include>
                    <fields hint="raw:AddComputedIndexField">
                      <field fieldName="tags" returnType="stringCollection" storageType="YES" indexType="UNTOKENIZED">DanceInfo.ContentSearch.Fields.TagsComputedField, DanceInfo</field>
                    </fields>
                    <fields hint="raw:AddComputedIndexField">
                      <field fieldName="urlItem" returnType="string" storageType="YES" indexType="UNTOKENIZED">DanceInfo.ContentSearch.Fields.UrlItemComputedField, DanceInfo</field>
                    </fields>
                    <fields hint="raw:AddComputedIndexField">
                      <field fieldName="urlImg" returnType="string" storageType="YES" indexType="UNTOKENIZED">DanceInfo.ContentSearch.Fields.UrlImgComputedField, DanceInfo</field>
                    </fields>
                  </documentOptions>
                </customIndexConfiguration>
            </indexConfigurations>
        </contentSearch>
    </sitecore>
</configuration>
