<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <linkManager>
      <providers>
        <add name="sitecore">
          <patch:attribute name="languageEmbedding">never</patch:attribute>
        </add>
      </providers>
    </linkManager>
    <sites>
      <site 
        name="DanceInfo"
        inherits="website"
        patch:before="site[@name='website']"
        rootPath="/sitecore/content/DanceInfo"
        startItem="/home"        
        hostName="reply.demo.local"
        dictionaryDomain = "{D3EF53E3-1EA8-4553-AE83-09FDC574423F}"     
        enforceVersionPresence="true"
        enableItemLanguageFallback="true"
        enableFieldLanguageFallback="true"
        />
      <site
        name="DanceInfoV2"
        hostName="DanceInfoV2.local"
        patch:before="site[@name='DanceInfo']"
        virtualFolder="/"
        physicakFolder="/"
        rootPath="/sitecore/content/DanceInfoV2"
        startItem="/home"
        language="en"
        database="web"
        domain="extranet"
        />
      <site
        name="DanceInfoV3"
        hostName="DanceInfoV3.local"
        patch:before="site[@name='DanceInfoV2']"
        virtualFolder="/"
        physicakFolder="/"
        rootPath="/sitecore/content/DanceInfoV3"
        startItem="/home"
        language="en"
        database="web"
        domain="extranet"
        />
    </sites>
    <pipelines>
      <httpRequestBegin>
        <processor 
          patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" 
          type="DanceInfo.Pipelines.CheckErrorRequestProcessor, DanceInfo"        
          resolve="true" 
          />
      </httpRequestBegin>
    </pipelines>
    <events>
      <event name="item:saved">
          <handler 
            type="DanceInfo.Events.LogCreateItemEventHandler, DanceInfo"
            method="OnCreateNewProject"
            />
      </event>
    </events>
    <services>
      <configurator type="DanceInfo.Infrastructure.ServicesConfigurator, DanceInfo" />
    </services>
  </sitecore>
</configuration>

<!--<site
        name="DanceInfo"
        inherits="website"
        patch:before="site[@name='website']"
        rootPath="/sitecore/content"
        hostName="reply.demo.local"
        dictionaryDomain = "{D3EF53E3-1EA8-4553-AE83-09FDC574423F}"
        enforceVersionPresence="true"
        enableItemLanguageFallback="true"
        enableFieldLanguageFallback="true"
        />-->